参考
https://github.com/dracula/xresources/blob/master/Xresources
https://github.com/arcticicestudio/nord-xresources/blob/develop/src/nord
https://github.com/jef/forest-night-xresources/blob/master/forest-night
https://github.com/siduck76/dotfiles/blob/master/thinkpad/.Xresources
https://github.com/baskerville/etc-linux/blob/master/Xresources
https://wiki.archlinux.org/title/Rofi
https://github.com/rubik/dotfiles/blob/master/.Xresources

set -g @plugin 'dracula/tmux'

# Set 256 colors
set -s default-terminal 'tmux-256color'
https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Regular.ttf
https://gist.github.com/andrenbrandao/701dc935b45666791183eb0948921bb7?ref=hackernoon.com

https://linux.die.net/man/1/urxvt

https://wiki.archlinux.org/title/Rxvt-unicode

http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod

https://github.com/kktt007/archlinuxdata/blob/master/archlinux-backup/home/.Xresources

! 不能用$HOME 或~/不能识别,直接就是~/下面
!! run `xrdb ~/.Xresources` to enable the settings

URxvt.termName:             rxvt-unicode-256color
URxvt.title:                rxvt-unicode
URxvt.imLocale:             en_US.utf8
URxvt.saveLines:        1000

Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault

rxvt.imFont: xft:MesloLGM Nerd Font Mono:size=14,xft:WenQuanYi Micro Hei:size=14
URxvt.font: xft:MesloLGM Nerd Font Mono:size=14,xft:WenQuanYi Micro Hei:size=14
URxvt.utf8: 1
URxvt.letterSpace: -1
URxvt.lineSpace:                2
URxvt.urlButton:        1

URxvt.internalBorder: 0
URxvt.externalBorder: 0
URxvt.borderless: true
URxvt.loginShell: true

URxvt.urgentOnBell:               false
URxvt.visualBell:   false

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.inputMethod: fcitx

URxvt.cursorBlink:                true
URxvt.cursorUnderline:            true

URxvt.scrollstyle:                plain
URxvt.scrollBar:                  false
URxvt.scrollBar_right:            true
URxvt.scrollBar_floating:         false

! https://github.com/muennich/urxvt-perls 一定要把脚本放在以下文件夹的根目录,perl-ext-common要以perl开头才有效了
! https://github.com/majutsushi/urxvt-font-size
!URxvt.perl-lib:  .urxvt/ext/

! URxvt Extensions
!  sudo pacman -S urxvt-fullscreen
! URxvt.perl-ext-common:  default,matcher,clipboard,keyboard-select,url-select,vim-scrollback,tabbedex,searchable-scrollback,fullscreen,resize-font,autocomplete-ALL-the-things,font-size

!URxvt.copyCommand:      xclip -i -selection clipboard
!URxvt.pasteCommand:     xclip -o -selection clipboard

!urxvt.keysym.F11:       perl:fullscreen:switch

!URxvt.keysym.C-Up:     perl:font-size:increase
!URxvt.keysym.C-Down:   perl:font-size:decrease
!URxvt.keysym.C-S-Up:   perl:font-size:incglobal
!URxvt.keysym.C-S-Down: perl:font-size:decglobal
!URxvt.keysym.C-equal:  perl:font-size:reset
!URxvt.keysym.C-slash:  perl:font-size:show
!URxvt.keysym.M-u:           perl:url-select:select_next
!URxvt.keysym.M-Escape:      perl:keyboard-select:activate
!URxvt.keysym.M-f:           perl:keyboard-select:search
!URxvt.keysym.F12:           perl:urxvt-colors:
!URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
!URxvt.keysym.Shift-Control-V:   perl:clipboard:paste


!URxvt.url-launcher: /usr/bin/xdg-open
!URxvt.underlineURLs:              true

URxvt.cutchars:                 '"()*,<>[]{}|\''


URxvt*depth: 32
*.foreground: #F8F8F2
*.background: #282A36
*.cursorColor:  #1ABC9C
*fading: 30
*fadeColor: #1D97F0
!URxvt*colorUL: yellow
!URxvt*underlineColor: #4682B4

!! Color Scheme 8~17 is light color
! BLACK(0 8) > RED(1 9) > GREEN(2 10) > YELLOW > BLUE > MAGENTA > CYAN > WHITE
#define pallete0                  #373E4D
#define pallete1                  #65737e
#define pallete2                  #434C5E
#define pallete3                  #4C566A
#define pallete4                  #FA5AA4
#define pallete5                  #FA74B2
#define pallete6                  #2BE491
#define pallete7                  #44EB9F
#define pallete8                  #FA946E
#define pallete9                  #FAA687
#define pallete10                 #63C5EA
#define pallete11                 #7ACBEA
#define pallete12                 #CF8EF4
#define pallete13                 #D8A6F4
#define pallete14                 #89CCF7
#define pallete15                 #A1D5F7
#define pallete16                 #EDFEFE
#define pallete17                 #DDE5E6

*.color0:                         pallete0
*.color1:                         pallete4
*.color2:                         pallete6
*.color3:                         pallete8
*.color4:                         pallete10
*.color5:                         pallete12
*.color6:                         pallete14
*.color7:                         pallete16

*.color8:                         pallete1
*.color9:                         pallete5
*.color10:                        pallete7
*.color11:                        pallete9
*.color12:                        pallete11
*.color13:                        pallete13
*.color14:                        pallete15
*.color15:                        pallete17

! *.cursorColor:                    pallete16
*fading:                          35
*fadeColor:                       pallete3
